<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page to list accreditations">
    <meta name="author" content="Scott Corbitt">
    <title>Employee Portal | Accreditations</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      .fa-square-o {
        cursor: pointer;
      }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="/css/employee.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Welcome, <%= user.name %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav navbar-nav navbar-right">
          <a href="/employee" id="btn-logout" class="navbar-btn btn btn-primary">Back to Portal</a>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Employee Portal | Accreditation</h1>
          <hr class="intro-divider">

          <div id='accreditation'>
            <h3><%= accreditation.title %></h3>
            <ul>
            <% for(var j=0; j<accreditation.skills.length; j++) {%>
              <li><%= accreditation.skills[j] %></li>
            <% } %>
            </ul>
            <h4>Progress</h4>
            <ul>
            <% for(var j=0; j<steps.length; j++) {%>
              <li><%= steps[j].content %>&nbsp;
                <% if(progress[accreditation.id] && progress[accreditation.id].indexOf(steps[j].id) >= 0){ %>
                  <i class="fa fa-check-square-o" aria-hidden="true" data-step-id="<%= steps[j].id %>" data-accred-id="<%= accreditation.id %>"></i>
                <% } else { %>
                  <i class="icon fa fa-square-o" aria-hidden="true" data-step-id="<%= steps[j].id %>" data-accred-id="<%= accreditation.id %>"></i>
                <% } %>
              </li>
            <% } %>
            </ul>
          </div>

<!--possibly put into a drop down menu?
          <a href="/employee">Employee Home</a>
          <a href="/employee/files">Files</a>
          <% if (user.admin) { %>
            <a href="/admin">Admin</a>
          <% } %>
          <a href="/logout">Logout</a>
        -->

          <!-- <script>
            $(document).ready(function() {
              $(".icon").on('click', function() {
                var icon = $(this);
                icon.removeClass('fa-square-o');
                icon.addClass('fa-circle-o-notch');
                icon.addClass('fa-spin');

                var step_id = icon.attr('data-step-id');
                var accred_id = icon.attr('data-accred-id');
                $.getJSON("/employee/accreditations/check?accred=" + accred_id + "&step=" + step_id, function(result){
                  if(result.success) {
                    icon.removeClass('fa-circle-o-notch');
                    icon.removeClass('fa-spin');
                    icon.addClass('fa-check-square-o');
                  }
                });
              });

            });
          </script> -->

        </div>
      </div>
    </header>

</html>
