<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="page to list accreditations">
    <meta name="author" content="Scott Corbitt">
    <title>Employee Portal | Accreditations</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/backend/backend.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      .fa-square, .fa-check-square {
        padding-right: 7px;
      }

      .card {
        margin-left: 25px;
      }

      .card-header {
        font-size: 18pt;
        padding-bottom: 8px;
      }

      .skill {
        font-size: 14pt;
      }
    </style>

    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/employee.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/landing-page.css" rel="stylesheet"> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
    <%- include ../../partials/backend-nav.ejs %>

    <div id='accreditation' class="manager">
      <h1 class="display-4">Employee Portal | Accreditation</h1>
      <div class="card">
        <div class="card-header">
          <%= accreditation.title %>
        </div>
        <ul class="list-group list-group-flush">
          <% for(var j=0; j<accreditation.skills.length; j++) {%>
            <li class="list-group-item skill"><%= accreditation.skills[j] %></li>
          <% } %>
        </ul>
      </div>
      <br>
      <div class="card">
        <div class="card-header">Progress</div>
        <ul class="list-group list-group-flush">
          <% for(var j=0; j<steps.length; j++) {%>
            <li class="list-group-item skill">
              <% if(progress[accreditation.id] && progress[accreditation.id].indexOf(steps[j].id) >= 0){ %>
                <i class="far fa-check-square" aria-hidden="true" data-step-id="<%= steps[j].id %>" data-accred-id="<%= accreditation.id %>"></i>
              <% } else { %>
                <i class="icon far fa-square" aria-hidden="true" data-step-id="<%= steps[j].id %>" data-accred-id="<%= accreditation.id %>"></i>
              <% } %>
              <%= steps[j].content %>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
