<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="landing page for employees after logging in">
    <meta name="author" content="Scott Corbitt">

    <title>Employee Portal</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/backend/backend.css">

    <script src="/js/jquery-2.2.3.min.js"></script>

    <style>
      .option a {
        padding: 0;
        border: 0;
        width: 100%;
      }

      .option a:hover {
        text-decoration: none;
        color: #1A5484;
      }

      .option span {
        background: #0D245D;
        border-radius: 5px 0 0 5px;
        padding: 15px 10px 15px 20px;
        color: white;
        width: 55px;
        display: inline-block;
        text-align: left;
        position: relative;
        top: -30px;
      }

      .option p {
        width: calc(100% - 55px);
        display: inline-block;
        padding: 15px 20px 15px 10px;
        background: white;
        border-radius: 0 5px 5px 0;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .option a:hover p {
        background: #DFE8F1;
      }

      .option a:hover span {
        background: #0D1834;
      }
    </style>
  </head>

  <body id="page-top">
    <%- include ../../partials/backend-nav.ejs %>

    <div id="manager" class="manager">
      <h1 class="display-4">Employee Home</h1>
      <br>
      <div id='options' class="row">
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-6 option">
              <a href="/employee/files" class="btn btn-secondary btn-lg">
                <span><i class="fa fa-file" aria-hidden="true"></i></span><p>Employee Files</p>
              </a>
            </div>
            <div class="col-md-6 option">
              <a href="/employee/forms" class="btn btn-secondary btn-lg">
                <span><i class="fa fa-edit" aria-hidden="true"></i></span><p>Employee Forms</p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 option">
              <a href="/employee/hire" class="btn btn-secondary btn-lg">
                <span><i class="fa fa-user" aria-hidden="true"></i></span><p>New Hire Progress</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <% var steps_count = steps.length; %>
    <div id='manager' class="manager">
      <h1 class="display-4">Employee Home</h1>
      <% if(post) { %>
        <div class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> Your response has been recorded.
        </div>
      <% } %>
      <br>
      <% for(var i = 0; i < accreditations.length; i++) { %>
        <% var local_progress = 0; %>
        <% var local_num = 0; %>
        <% if(progress[accreditations[i].id]) {
            local_num = progress[accreditations[i].id].length;
            local_progress = progress[accreditations[i].id].length / steps_count * 100;
        } %>
        <div class="accreditation container-fluid">
          <div class="row">
            <div class="col-sm-1 accred-progress"><%= local_progress %>%<br><small>complete</small></div>
            <div class="col-sm-11 details">
              <h4><a href="/employee/accreditation/<%= accreditations[i].id %>">
                <%= accreditations[i].title %>
              </a></h4>
              <div class="row">
                <div class="col-sm-8">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= local_progress %>%;" aria-valuenow="<%= local_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  Completed <%= local_num %>/<%= steps_count %> Steps
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      <br>
      <br>
      <% for(var i = 0; i < accreditations.length; i++) { %>
        <% if(user.roles.indexOf(accreditations[i].id) >= 0) { %>
          <div class="supervisor">
            <a href="/employee/supervisor/<%= accreditations[i].id %>" class="btn btn-secondary btn-lg">
              <span><i class="fas fa-user-check"></i>Supervisor:</span><p><%= accreditations[i].title %></p>
            </a>
          </div>
        <% } %>
      <% } %>
    </div> -->

    <!-- Plugin JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  </body>
  </html>
