<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="landing page for empllyees after logging in">
    <meta name="author" content="Scott Corbitt">

    <title>Employee Portal</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/backend/backend.css">
    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/employee.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/landing-page.css" rel="stylesheet"> -->

    <script src="/js/jquery-2.2.3.min.js"></script>
    <style>
      .file {
        margin: 0 0 -15px 0px;
      }

      .file a {
        padding: 0;
        border: 0;
        width: 100%;
      }

      .file a:hover {
        text-decoration: none;
        color: #1A5484;
      }

      .file span {
        background: #0D245D;
        border-radius: 5px 0 0 5px;
        padding: 15px 10px 15px 20px;
        color: white;
        width: 20%;
        display: inline-block;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        top: 20px;
      }

      .file p {
        width: 80%;
        display: inline-block;
        padding: 15px;
        background: white;
        border-radius: 0 5px 5px 0;
        text-align: left;
      }

      .file a:hover p {
        background: #DFE8F1;
      }

      .file a:hover span {
        background: #0D1834;
      }
    </style>
  </head>

  <body>
    <%- include ../../partials/backend-nav.ejs %>
    <div id="manager" class="manager">
      <h1 class="display-4">Employee Files</h1>

      <div id='files'>
        <% for(var i=0; i < files.length; i++) { %>
          <div class="file">
            <a href="<%= url %><%= files[i].link %>" target="_blank" class="btn btn-secondary btn-lg">
              <span><%= files[i].name %></span><p><%= files[i].description %></p>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
