<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="landing page for empllyees after logging in">
    <meta name="author" content="Scott Corbitt">

    <title>Employee Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/employee.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Welcome, <%= user.name %> (<%= user.username%>) </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav navbar-nav navbar-right">
          <a href="/" id="btn-logout" class="navbar-btn btn btn-primary">Back to Home</a>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Employee Portal</h1>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="/employee/accreditations" class="btn btn-secondary btn-lg">
                <i class="fa"></i>
                <span class="network-name">Accreditations</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/employee/files" class="btn btn-secondary btn-lg">
                <i class="fa"></i>
                <span class="network-name">Files</span>
              </a>
            </li>
            <% if (user.admin) { %>
            <li class="list-inline-item">
              <a href="/admin" class="btn btn-secondary btn-lg">
                <i class="fa"></i>
                <span class="network-name">Admin</span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </header>

    <div id='files'>
      <% for(var i=0; i<files.length; i++) {%>
         <h3><a href="/files/<%= files[i].link %>"><%= files[i].name %></a></h3>
         <p><%= files[i].description %></p>
      <% } %>
    </div>

<!--
<html lang="en">
  <head>
    <title>Employee Portal | Files</title>
  </head>
  <body>
    <h1>Employee Portal | Files</h1>



    <a href="/employee">Employee Home</a>
    <a href="/employee/accreditations">Accreditations</a>
    <% if (user.admin) { %>
      <a href="/admin">Admin</a>
    <% } %>
    <a href="/logout">Logout</a>
  </body>
</html>
