<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Employee Portal | Supervisor</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/backend/backend.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/r-2.1.1/datatables.min.css"/>
    <style>
      .fa-square {
        cursor: pointer;
      }

      .fa-square, .fa-check-square {
        font-size: 18pt;
      }

      .table-wrapper {
        margin-left: 25px;
      }

      #employees-table {
        background: white;
        border-radius: 5px;
      }

      .card {
        margin-left: 25px;
      }

      .card-header {
        font-size: 18pt;
        padding-bottom: 8px;
      }

      .skill {
        font-size: 14pt;
      }
    </style>

    <script src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/r-2.1.1/datatables.min.js"></script>
  </head>
  <body>
    <%- include ../../partials/backend-nav.ejs %>
    <div id='manager' class="manager">
      <h1 class="display-4">Employee Portal | Supervisor</h1>
      <div class="card">
        <div class="card-header">
          <%= accreditation.title %>
        </div>
        <ul class="list-group list-group-flush">
          <% for(var j=0; j<accreditation.skills.length; j++) {%>
            <li class="list-group-item skill"><%= accreditation.skills[j] %></li>
          <% } %>
        </ul>
      </div>
      <br>
      <div class="card">
        <div class="card-header">Progress</div>
        <ul class="list-group list-group-flush">
          <% for(var j=0; j<steps.length; j++) {%>
            <li class="list-group-item skill">
              <%= steps[j].content %>
            </li>
          <% } %>
        </ul>
      </div>

      <br>
      <div class="table-wrapper">
        <table id="employees-table"  class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Employee</th>
              <% for(var i = 0; i < steps.length; i++) { %>
                <th>Step <%= i + 1 %></th>
              <% } %>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Employee</th>
              <% for(var i = 0; i < steps.length; i++) { %>
                <th>Step <%= i + 1 %></th>
              <% } %>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <script>
      var steps = [
        <% for(var i = 0; i < steps.length; i++) { %>
          <%= steps[i].id %>,
        <% } %>
      ];

      $.fn.dataTableExt.afnFiltering.push(
        function(oSettings, aData, iDataIndex) {
          console.log(oSettings);
          console.log(aData);
          console.log(iDataIndex);
          var row = oSettings.aoData[iDataIndex].nTr;
          return !row.complete;
        }
      );

      function Employee(name, id, list) {
        this.name = name;
        this.id = id;
        // this.list = list;

        for(var i = 0; i < steps.length; i++) {
          if(list.indexOf(steps[i]) == -1) {
            this['step' + (i + 1)] = false;
          } else {
            this['step' + (i + 1)] = true;
          }
        }
      };

      $(document).ready(function() {
        $('#employees-table').DataTable( {
          data: [
            <% for (var key in progress) { %>
              <% if(progress[key].name != "Administrator" && progress[key].id != user.id) { %>
                <% if(progress[key][accreditation.id] && progress[key][accreditation.id].length < steps.length) { %>
                  new Employee("<%= progress[key].name %>", "<%= progress[key].id %>", [<%= progress[key][accreditation.id] %>]),
                <% } else if(!progress[key][accreditation.id]) { %>
                  new Employee("<%= progress[key].name %>", "<%= progress[key].id %>", []),
                <% } %>
              <% } %>
            <% } %>
          ],
          columns: [
            { data: 'name' },
            <% for(var i = 0; i < steps.length; i++) { %>
              {
                data: 'step<%= i + 1 %>',
                render: function (data, type, row) {
                  var c = "fa-square";
                  if(data) {
                    c = "fa-check-square";
                  }

                  return '<i class="far ' + c + '" aria-hidden="true" data-step-id="<%= steps[i].id %>" data-user-id="' + row.id + '"></i>';
                }
              },
            <% } %>

          ]
        });

        $(".fa-square").on('click', function() {
          var icon = $(this);
          icon.removeClass('fa-square');
          icon.removeClass('far');
          icon.addClass('fas');
          icon.addClass('fa-circle-notch');
          icon.addClass('fa-spin');

          var step_id = icon.attr('data-step-id');
          var user_id = icon.attr('data-user-id');
          $.getJSON("/employee/accreditations/check?accred=<%= accreditation.id %>&step=" + step_id + "&user=" + user_id, function(result){
            if(result.success) {
              icon.removeClass('fa-circle-notch');
              icon.removeClass('fa-spin');
              icon.removeClass('fas');
              icon.addClass('far');
              icon.addClass('fa-check-square');
            }
          });
        });
      });
    </script>
  </body>
</html>
