<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Portal | Email</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/backend/backend.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      .fa-trash-o, .fa-plus-square, .fa-external-link, .dropzone {
        cursor: pointer;
      }

      #manager .fa-plus-square, #manager .right-corner {
        display: none;
      }

      .fa-trash-o {
        background: #CA2525;
        border-radius: 3px;
        color: #F3D2D2;
        font-size: 12pt;
        padding: 3px 6px;
      }

      .fa-plus-square {
        color: #428bca;
      }

      .fa-plus-square:hover {
        color: #3276b1;
      }

      .fa-external-link {
        color: #428bca;
        padding-left: 25px;
      }

      .fa-external-link:hover {
        color: #3276b1;
      }

      .fa-trash-o:hover {
        background: #9D1515;
      }

      .right-corner {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      .fa-trash-o.large {
        padding: 5px 8px;
        font-size: 16pt;
        float: right;
      }

      .edit {
        -webkit-transition: border-color 1s; /* Safari */
        transition: border-color 1s;
        border: 1px solid #FFF;
      }

      .edit-border {
        border-color: #428bca !important;
      }

      hr.middle-fade {
        border: 0;
        height: 1px;
        background: #999;
        background-image: linear-gradient(to right, #ccc, #999, #ccc);
      }

      #dropzone {
        position: relative;
        height: 27vw;
        background: white;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      #dropzone .dz-preview {
        visibility: hidden;
        display: none;
      }

      #dropzone .dz-message {
        font-size: 4vw;
        padding-top: 15vw;
        text-align: center;

        background-color: #AAA;
        opacity: 0.6;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
            -moz-background-clip: text;
                 background-clip: text;

       -webkit-transition: background-color 0.6s; /* Safari */
       transition: background-color 0.6s;
      }

      #dropzone.dz-drag-hover .dz-message {
        background-color: #777 !important;
      }

      .dropzone img {
        -webkit-transition: filter 0.6s; /* Safari */
        transition: filter 0.6s;
      }

      .dropzone.dz-drag-hover img {
        filter: brightness(65%);
      }

      .dropzone:hover img {
        filter: brightness(65%);
      }

      .dropzone .dz-preview {
        visibility: hidden;
        display: none;
      }

      #dropzone::before {
        padding-top: 2vw;
        margin: auto;
        text-align: center;
        font-size: 9vw;
        position: absolute;
        z-index: 10;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 4px;
        border: 8px dashed #CCC;
        content: " ";
        opacity: 0.6;
        -webkit-transition: background-color 0.6s, border-color 0.6s; /* Safari */
        transition: background-color 0.6s, border-color 0.6s;
      }

      #dropzone.dz-drag-hover::before {
        border-color: #AAA !important;
      }

      #dropzone .icon {
        font-size: 10vw;
        padding-top: 2vw;
        text-align: center;
        position: absolute;
        z-index: 10;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
      }

      #dropzone .icon i {
        background-color: #AAA;
        opacity: 0.6;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;

        -webkit-transition: display 1s, background-color 0.6s; /* Safari */
        transition: display 1s, background-color 0.6s;
      }

      #dropzone.dz-drag-hover .icon i {
        background-color: #777 !important;
      }

      #dropzone #disabled {
        font-size: 7vw !important;
        padding-top: 1.5vw !important;
      }

      #dropzone #disabled i, #dropzone #loader i {
        display: none;
      }

      #dropzone.dropped #ready i {
        display: none !important;
      }

      .jumbotron {
        position: relative;
        width: 75%;
        margin: 15px auto;
        padding-bottom: 90px;
        border-radius: 4px;
      }

      /*.image-wrapper {
        position: relative;
        display: inline-block;
      }*/

      .dropzone:hover i {
        opacity: 1.0 !important;
      }

      .dropzone i {
        position: absolute;
        font-size: 24pt;
        bottom: 10px;
        right: 25px;
        color: #bbb;
        background-color: white;
        padding: 3px 7px;
        border-radius: 5px;
        opacity: 0.0;
        cursor: pointer;

        -webkit-transition: opacity 0.6s; /* Safari */
        transition: opacity 0.6s;
      }

      a.btn {
        float: right;
        margin-left: 20px;
      }

      .container {
        background: white;
        padding: 20px;
        border-radius: 4px;
      }

      #email-request #body {
        height: 100px;
      }

      input[type="submit"] {
        margin-top: 10px;
        float: right;
      }

      label {
        margin: 20px 0 10px 0;
      }

      .variable {
        margin-left: 10px;
      }
    </style>

    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="//static.filestackapi.com/v3/filestack.js"></script>
  </head>
  <body>
    <%- include ../../partials/backend-nav.ejs %>
    <div id='manager' class='manager'>
      <h1 class="display-4">Email Manager</h1>
      <h2 class="display-4">Employee Invite Email</h2>
      <form id="email-request" class="email row" method="post">
        <div class="col-md-11">
          <input name="id" type="hidden" value="<%= request_email.id %>">
          <label for="from">From:</label>
          <div class="row">
            <div class="col-lg-6">
              <input name="from_title" type="text" class="form-control" placeholder="Offshore Air" value="<%= request_email.from_title %>">
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <input name="from_address" type="text" class="form-control" placeholder="no-reply" value="<%= request_email.from_address %>">
                <span class="input-group-addon" id="from">@mg.offshoreair.com</span>
              </div>
            </div>
          </div>
          <label for="subject">Subject:</label>
          <input id="subject" name="subject" type="text" class="form-control" placeholder="Offshore Air Invite" value="<%- request_email.subject %>">
          <label for="body">Email:</label><span class="variable btn btn-sm btn-default" data-type="name" data-toggle="tooltip" data-placement="top" title="Special text that will show the employee's name in the actual email. Do NOT change the text in brackets.">+ Employee Name</span><span class="variable btn btn-sm btn-default" data-type="link" data-toggle="tooltip" data-placement="top" title="Special text that will show the invite link. You MAY change the text in brackets.">+ Invite Link</span>
          <textarea name="body" class="form-control" rows="8" cols="50"><%- request_email.body %></textarea>
          <input type="submit" class="btn btn-primary" value="Save Changes">
        </div>
      </form>
      <br>
      <h2 class="display-4">Estimate Confirmation Email</h2>
      <form id="email-request" class="email row" method="post">
        <div class="col-md-11">
          <input name="id" type="hidden" value="<%= confirm_email.id %>">
          <label for="from">From:</label>
          <div class="row">
            <div class="col-lg-6">
              <input name="from_title" type="text" class="form-control" placeholder="Offshore Air" value="<%= confirm_email.from_title %>">
            </div>
            <div class="col-lg-6">
              <div class="input-group">
                <input name="from_address" type="text" class="form-control" placeholder="no-reply" value="<%= confirm_email.from_address %>">
                <span class="input-group-addon" id="from">@mg.offshoreair.com</span>
              </div>
            </div>
          </div>
          <label for="subject">Subject:</label>
          <input id="subject" name="subject" type="text" class="form-control" placeholder="Offshore Air Invite" value="<%- confirm_email.subject %>">
          <label for="body">Email:</label><span class="variable btn btn-sm btn-default" data-type="name" data-toggle="tooltip" data-placement="top" title="Special text that will show the employee's name in the actual email. Do NOT change the text in brackets.">+ Employee Name</span><span class="variable btn btn-sm btn-default" data-type="link" data-toggle="tooltip" data-placement="top" title="Special text that will show the invite link. You MAY change the text in brackets.">+ Invite Link</span>
          <textarea name="body" class="form-control" rows="8" cols="50"><%- confirm_email.body %></textarea>
          <input type="submit" class="btn btn-primary" value="Save Changes">
        </div>
      </form>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        $('[data-type="name"]').on('click', function() {
          var val = $('textarea[name="body"]').val();
          $('textarea[name="body"]').val(val + "{{name}}");
        });

        $('[data-type="link"]').on('click', function() {
          var val = $('textarea[name="body"]').val();
          $('textarea[name="body"]').val(val + "{{Click here}}");
        });
      });

      function loading(dz) {
        $(dz).find('i').removeClass('fa-upload');
        $(dz).find('i').addClass('fa-circle-o-notch');
        $(dz).find('i').addClass('fa-spin');
        $(dz).find('i').css({'opacity': 1.0, 'background-color': 'transparent'});
      }

      function doneLoading(dz) {
        $(dz).find('i').removeClass('fa-circle-o-notch');
        $(dz).find('i').removeClass('fa-spin');
        $(dz).find('i').addClass('fa-upload');
        $(dz).find('i').css({'opacity': 0.0, 'background-color': 'white'});
      }

      var retries = 5;
      function updateImage(id, img) {
        $.ajax({
          type          : 'GET',
          url           : "" + img,
          success       : function (data) {
            retries = 3;
            doneLoading('#dropzone-' + id);
          },
          error         : function(xhr, textStatus, errorThrown) {
            console.log("One fail.");
            if(retries > 0) {
              retries--;
              setTimeout(function() {
                updateImage(id, img);
              }, 5000);
            }
          }
        });
      }
    </script>
  </body>
</html>
