<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Portal | Files</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      .fa-trash-o, .fa-plus-square, .fa-external-link {
        cursor: pointer;
      }

      #manager .fa-plus-square, #manager .right-corner {
        display: none;
      }

      .fa-trash-o {
        background: #CA2525;
        border-radius: 3px;
        color: #F3D2D2;
        font-size: 12pt;
        padding: 3px 6px;
      }

      .fa-plus-square {
        color: #428bca;
      }

      .fa-plus-square:hover {
        color: #3276b1
      }

      .fa-trash-o:hover {
        background: #9D1515;
      }

      .fa-external-link {
        color: #428bca;
        padding-left: 25px;
      }

      .fa-external-link:hover {
        color: #3276b1;
      }

      .right-corner {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      .fa-trash-o.large {
        padding: 5px 8px;
        font-size: 16pt;
        float: right;
      }

      .edit {
        -webkit-transition: border-color 1s; /* Safari */
        transition: border-color 1s;
        border: 1px solid #FFF;
      }

      .edit-border {
        border-color: #428bca !important;
      }

      hr.middle-fade {
        border: 0;
        height: 1px;
        background: #999;
        background-image: linear-gradient(to right, #ccc, #999, #ccc);
      }

      #dropzone {
        position: relative;
        height: 27vw;
        background: white;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      #dropzone .dz-preview {
        visibility: hidden;
        display: none;
      }

      #dropzone .dz-message {
        font-size: 4vw;
        padding-top: 15vw;
        text-align: center;

        background-color: #AAA;
        opacity: 0.6;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
            -moz-background-clip: text;
                 background-clip: text;

       -webkit-transition: background-color 0.6s; /* Safari */
       transition: background-color 0.6s;
      }

      #dropzone.dz-drag-hover .dz-message {
        background-color: #777 !important;
      }

      #dropzone::before {
        padding-top: 2vw;
        margin: auto;
        text-align: center;
        font-size: 9vw;
        position: absolute;
        z-index: 10;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 4px;
        border: 8px dashed #CCC;
        content: " ";
        opacity: 0.6;
        -webkit-transition: background-color 0.6s, border-color 0.6s; /* Safari */
        transition: background-color 0.6s, border-color 0.6s;
      }

      #dropzone.dz-drag-hover::before {
        border-color: #AAA !important;
      }

      #dropzone .icon {
        font-size: 10vw;
        padding-top: 2vw;
        text-align: center;
        position: absolute;
        z-index: 10;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
      }

      #dropzone .icon i {
        background-color: #AAA;
        opacity: 0.6;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;

        -webkit-transition: display 1s, background-color 0.6s; /* Safari */
        transition: display 1s, background-color 0.6s;
      }

      #dropzone.dz-drag-hover .icon i {
        background-color: #777 !important;
      }

      #dropzone #disabled {
        font-size: 7vw !important;
        padding-top: 1.5vw !important;
      }

      #dropzone #disabled i, #dropzone #loader i {
        display: none;
      }

      #dropzone.dropped #ready i {
        display: none !important;
      }

      .jumbotron {
        position: relative;
        width: 75%;
        margin: 15px auto;
        padding-bottom: 90px;
        border-radius: 4px;
      }

      .dropdown {
        font-size: 14pt;
        float: right;
        margin-right: 10px;
      }

      .dropdown-list h3 {
        font-size: 21px;
        width: 275px;
        cursor: pointer;
        margin-right: 10px;
        padding: 3px 0px 3px 7px;
        border: 1px solid #CCC;
        border-radius: 4px;
        display: block;
        margin: 0;
      }

      .dropdown .dropdown-list {
        position: relative;
        padding: 0px;
        width: 88%;
        background: white;
        list-style: none;
      }

      .dropdown .dropdown-list li {
        position: relative;
        background: white;
        z-index: 15;
        display: none;
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        padding: 3px 0px 3px 7px;
        cursor: pointer;
        overflow: hidden;
        margin: 0;
        width: 244px;
      }

      .dropdown .dropdown-list li:hover {
        background: #428bca;
        color: white;
      }

      .dropdown .dropdown-list li:first-child {
        border-top: 1px solid #CCC;
      }

      .dropdown .dropdown-list li:last-child {
        border-bottom: 1px solid #CCC;
        border-radius: 0px 0px 4px 4px;
      }

      .fa-chevron-down {
        position: relative;
        top: -4px;
        float: right;
        padding: 5px;
        border-radius: 0px 4px 4px 0px;
        background: #428bca;
        color: white;
      }

      .dropdown-list h3:hover .fa-chevron-down {
        background: #3276b1;
      }

      .open {
        border-bottom-left-radius: 0px !important;
      }

      .link {
        cursor: pointer;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
      }

      .link.active {
        background: #428bca !important;
        color: white !important;
      }

      .link.active .fa-external-link {
        color: white !important;
      }

      .delete {
        color: white;
        background: #CA2525;
        float: right;
      }

      .delete:hover {
        color: white;
        background: #9D1515;
      }
    </style>

    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="//static.filestackapi.com/v3/filestack.js"></script>
  </head>
  <body>
    <h1>Admin Portal | Files</h1>

    <div id='manager' class='jumbotron'>
      <span style='position: absolute; top: 30px; right: 30px;'>
        <input id='edit-switch' type="checkbox" data-on-text='View' data-off-text='Edit' data-on-color='default' data-off-color='primary' checked>
      </span>

      <h1 class="display-4">File Manager</h1>

      <p class="lead">To edit the files, toggle the switch to edit then save your changes.</p>

      <h2>Files&nbsp;<i class="fa fa-plus-square" aria-hidden="true" data-type='files'></i></h2>
      <div id='file-list' class="list-group">
        <!-- Filled by EJS dump to file_save and then method revert called once document.ready() -->
      </div>

      <div id='controls' style='position: absolute; bottom: 30px; right: 30px; display: none;'>
        <button id='revert' type="button" class="btn btn-info">Revert Changes</button>
        <button id='save' type="button" class="btn btn-primary">Save Changes</button>
      </div>

    </div>
    <div id='links-manager' class='jumbotron' style='margin-top: 30px;'>
      <div class="row">
        <div class="col-sm-6">
          <h2>Links</h2>
          <div id='link-list' class="list-group">
            <% for(var i=0; i<links.length; i++) {%>
            <li class="link list-group-item list-group-item-action flex-column align-items-start" data-id="link" data-link-id='<%= links[i].id %>' data-link='<%= links[i].link %>'>
              <form method="POST" enctype="multipart/form-data" action="/admin-test/manage/links"><input type="text" name="id" value="<%= links[i].id %>" style="display: none;"><i class="fa fa-trash-o large right-corner link" aria-hidden="true"></i></form>
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1"><%= links[i].link %><a href="<%= url %><%= links[i].link %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></h3>
              </div>
            </li>
            <% } %>
          </div>
          <form id="delete-multiple" method="post" enctype="multipart/form-data"><input type="submit" class="btn delete" name="submit" value="Delete Multiple"></form>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <h2>Upload</h2>
            </div>
            <div class="col-sm-6" style="padding-top: 20px;">
              <div id="browse" class="input-group">
                <label class="input-group-btn">
                  <span class="btn btn-primary">
                    Browse&hellip; <form id="upload-form" method="post" enctype="multipart/form-data"><input type="file" name="upload" style="display: none;" multiple></form>
                  </span>
                </label>
                <input type="text" class="form-control" readonly>
              </div>
            </div>
          </div>
          <form id="dropzone" method="post" action="/admin-test/manage/links" class="dropzone">
            <div id="ready" class="icon">
              <i class="fa fa-file" aria-hidden="true"></i>
            </div>
            <div id="loader" class="icon">
              <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
            </div>
            <div id="disabled" class="icon">
              <span class="fa-stack fa-sm">
                <i class="fa fa-ban fa-stack-2x"></i>
                <i class="fa fa-file fa-stack-1x"></i>
              </span>
            </div>
            <div class="dz-message" data-dz-message><span>Drag n Drop</span></div>
            <div class="fallback">
              <input type="file" name="upload" multiple hidden>
            </div>
          </form>
        </div>
      </div>
    </div>

    <a href="/employee">Employee Home</a>
    <a href="/employee/accreditations">Accreditations</a>
    <a href="/admin">Admin</a>
    <a href="/logout">Logout</a>


    <script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
    <script>
      var file_save = [
        <% for(var i=0; i<files.length; i++) {%>
          {
            "id": <%= files[i].id %>,
            "name": "<%= files[i].name %>",
            "link_id": "<%= files[i].link_id %>",
            "link": "<%= files[i].link %>",
            "description": "<%= files[i].description %>"
          },
        <% } %>
      ];
      var file_dels = [];
      var link_save = [
        <% for(var i=0; i<links.length; i++) {%>
          {
            "id": <%= links[i].id %>,
            "link": "<%= links[i].link %>"
          },
        <% } %>
      ];
      var n = 0;

      $(document).on('change', ':file', function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
      });

      Dropzone.autoDiscover = false;

      // Initialise DropZone form control
      Dropzone.options.dropzone = {
        init: function () {
          // Set up any event handlers
          this.on('success', function(file, response) {
            newLink(response.id, file.name);
          });

          this.on('queuecomplete', function() {
            uploadComplete();
            setClicks()
          });
        }
      };

      $(document).ready(function() {
        $("#delete-multiple").on('submit', function(e) {
          e.preventDefault();
          var link_ids = [];
          $('#links-manager li.active form').not(this).each(function() {
            $(this).find('input').clone().appendTo('#delete-multiple');
            link_ids.push($(this).find('input').val());
          });

          var form = new FormData($(this)[0]);
          $.ajax({
            url: "/admin-test/manage/links",
            method: "POST",
            dataType: "json",
            data: form,
            processData: false,
            contentType: false,
            success: function(result){
              console.log(result);
            },
            error: function(err){
              console.log(err);
            }
          });

          $.each(link_ids, function(i, val) {
            deleteLink(val);
          });

          revert(false);
          return false;
        });

        $('#dropzone').dropzone();

        $("#dropzone").on('drop', function() {
          uploading()
        });

        $(':file').on('fileselect', function(event, numFiles, label) {
          var input = $(this).parents('.input-group').find(':text');
          var log = numFiles > 1 ? numFiles + ' files selected' : label;

          if(input.length) {
            uploading();
            input.val(log);

            var form = new FormData($("#upload-form")[0]);
            $.ajax({
              url: "/admin-test/manage/links",
              method: "POST",
              dataType: "json",
              data: form,
              processData: false,
              contentType: false,
              success: function(result){
                console.log(result);
              },
              error: function(err){
                console.log(err);
              }
            });
          }
        });

        revert(false);

        $("#edit-switch").bootstrapSwitch();

        $('#edit-switch').on('switchChange.bootstrapSwitch', function(event, state) {
          toggleEdit(state);
        });

        $('#save').on('click', function() {
          $('#save').prop('disabled', true);

          file_save = getFiles();
          save();

          $('#save').prop('disabled', false);
          $("#edit-switch").bootstrapSwitch('state', true);
        });

        $('#revert').on('click', function() {
          revert(true);
        });
      });

      function save() {
        $.each(file_save, function(i, val) {
          if(val.id.includes("new")) {
            $.post("/admin-test/manage/files/insert", {"file": val}, function(result) {
              $("[data-file-id='" + val.id + "']").attr("data-file-id", result.id);
              console.log(result);
            });
          } else {
            $.post("/admin-test/manage/files/update", {"file": val}, function(result) {
              console.log(result);
            });
          }
        });

        if(file_dels.length > 0) {
          $.post("/admin-test/manage/files/delete", {"files": file_dels}, function(result) {
            console.log(result);
          });
        }
      }

      function getFiles() {
        var files = [];
        $('[data-id="file"]').each(function() {
          var id = $(this).attr('data-file-id');
          var name = $.trim($(this).find('[data-id="name"]').html());
          var link_id = $(this).find('[data-id="link_id"]').attr('data-link-id');
          var link = $.trim($(this).find('[data-id="link_id"]').html());
          var description = $.trim($(this).find('[data-id="description"]').html());

          var file = {
            'id':          id,
            'name':        name,
            'link_id':     link_id,
            'link':        link,
            'description': description,
          };
          files.push(file);
        });

        return files;
      }

      function newFile(id, name, link_id, link, description) {
        $('#file-list').append(
          '<li class="list-group-item list-group-item-action flex-column align-items-start" data-id="file" data-file-id=' + id + '>'
            + getLinks(link_id, link)
            + '<div class="d-flex w-100 justify-content-between">'
              + '<h3 class="mb-1"><span class="edit" data-id="name">' + name + '</span></h3>'
            + '</div>'
            + '<p class="mb-1" style="padding-left:18px;">'
              + '<span class="edit" data-id="description">' + description + '</span>'
            + '</p>'
          + '</li>'
        );
      }

      function newLink(link_id, link) {
        $("#link-list").append(
          '<li class="link list-group-item list-group-item-action flex-column align-items-start" data-id="link" data-link-id=' + link_id + ' data-link=' + link + '>'
            + '<form method="POST" enctype="multipart/form-data" action="/admin-test/manage/links"><input type="text" name="id" value="' + link_id + '" style="display: none;"><i class="fa fa-trash-o large right-corner link" aria-hidden="true"></i></form>'
            + '<div class="d-flex w-100 justify-content-between">'
              + '<h3 class="mb-1">' + link + '<a href="<%= url %>' + link + '" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></h3>'
            + '</div>'
          + '</li>'
        );

        $(".dropdown-list").each(function() {
          $(this).append('<li data-link-id="' + link_id + '" title="' + link + '">' + link + '</li>');
        });

        link_save.push({"id": link_id, "link": link});
      }

      function deleteLink(id) {
        $("#link-list").find("li[data-link-id='" + id + "']").fadeOut(500, function() {
          $(this).remove();
        });

        for(var i = 0; i < file_save.length; i++) {
          if(file_save[i].link_id == id) {
            file_save.splice(i, 1);
            i--;
          }
        }
        for(var i = 0; i < link_save.length; i++) {
          if(link_save[i].id == id) {
            link_save.splice(i, 1);
            break;
          }
        }
      }

      function getLinks(link_id, link) {
        ret = '<span class="right-corner">'
          + '<i class="fa fa-trash-o large file" aria-hidden="true"></i>'
          + '<span class="dropdown">'
            + '<ul class="dropdown-list"><h3><span data-id="link_id" data-link-id="' + link_id + '">' + link + '</span><i class="fa fa-chevron-down" aria-hidden="true"></i></h3>';
        for(var i = 0; i < link_save.length; i++) {
          ret += '<li data-link-id="' + link_save[i].id + '" title="' + link_save[i].link + '">' + link_save[i].link + '</li>'
        }
        ret += '</ul>'
          + '</span>'
        + '</span>';

        return ret;
      }

      function toggleEdit(state) {
        if(!state) {
          setClicks();
          $('.edit').attr('contenteditable', true);
          $('.edit').addClass('edit-border');
          $('.right-corner').attr('contenteditable', false);
          $('.fa-plus-square').attr('contenteditable', false);
          $('#controls').fadeIn();
          $('.fa-plus-square').fadeIn();
          $('#manager .right-corner').fadeIn();
          $('#links-manager .fa-trash-o').fadeOut();
          $('#browse').fadeOut();
          $('#delete-multiple').fadeOut();
          $('#ready i').fadeOut();
          $('#disabled i').fadeIn();
          Dropzone.forElement("#dropzone").disable();
        } else {
          revert(false);
          $('.edit').attr('contenteditable', false);
          $('.edit').removeClass('edit-border');
          $('.right-corner').attr('contenteditable', false);
          $('#controls').fadeOut();
          $('.fa-plus-square').fadeOut();
          $('#manager .right-corner').fadeOut();
          $('#links-manager .fa-trash-o').fadeIn();
          $('#browse').fadeIn();
          $('#delete-multiple').fadeIn();
          $('#ready i').fadeIn();
          $('#disabled i').fadeOut();
          Dropzone.forElement("#dropzone").enable();
        }
      }

      function setClicks() {
        $(".link").off('click');
        $(".link").on('click', function() {
          $(this).toggleClass('active');
        });

        $('.fa-plus-square').off('click');
        $('.fa-plus-square').on('click', function() {
          newFile('new' + n, 'New File', 0, 'Select File', 'This is a new file.');
          n++;
          toggleEdit(false);
        });

        $('.dropdown-list h3').off('click');
        $('.dropdown-list h3').on('click', function() {
          var parent = $(this).parent();
          $('.dropdown-list').not(parent).each(function() {
            $(this).find('li').slideUp();
          });
          parent.find('li').slideToggle(300);
          $(this).toggleClass('open');
        });

        $('.dropdown-list li').off('click');
        $('.dropdown-list li').on('click', function() {
          console.log($(this).attr("title"));
          var selected = $(this).parent().find('h3 span');
          console.log(selected.html());
          selected.html($(this).attr("title"));
          selected.attr('data-link-id', $(this).attr("data-link-id"));
          $('.dropdown-list li').each(function() {
            $(this).slideUp();
          });
        });

        $('.fa-trash-o.link').off('click');
        $('.fa-trash-o.link').on('click', function() {
          var parent = $(this).parent();
          if (parent.is('form')) {
            var id   = parent.find('input').val();
            var form = new FormData(parent[0]);
            $.ajax({
              url:         "/admin/manage/links",
              method:      "POST",
              dataType:    "json",
              data:        form,
              processData: false,
              contentType: false,
              success: function(result){
                console.log(result);
              },
              error: function(err){
                console.log(err);
              }
            });
            deleteLink(id);
          }
          revert(false);
        });

        $('.fa-trash-o.file').off('click');
        $('.fa-trash-o.file').on('click', function() {
          var parent = $(this).closest('[data-id="file"]');
          var fattr = parent.attr('data-file-id');

          if (typeof fattr !== typeof undefined && fattr !== false && !fattr.includes("new")) {
            file_dels.push(fattr);
          }
          parent.remove();
        });
      }

      function revert(toggle) {
        $('#file-list').html('');

        $.each(file_save, function(i, value) {
          newFile(value.id, value.name, value.link_id, value.link, value.description);
        });

        setClicks();
        if(toggle) {
          toggleEdit(false);
        }
      }

      function uploading() {
        $("#dropzone").addClass('dropped');
        $('#dropzone #loader i').css("display","inline-block");
        $("#dropzone").find('.dz-message span').html("Uploading");
      }

      function uploadComplete() {
        $("#dropzone").removeClass('dropped');
        $('#dropzone #loader i').fadeOut();
        $("#dropzone #ready").fadeIn();
        $("#dropzone").find('.dz-message span').html("Drag n Drop");
      }
    </script>
  </body>
</html>
